
.navbar
{
    background-color: #000000;
}
.navbar-light .navbar-nav .nav-link
{
    color: #ffffff;
    font-size: 16px;
    margin-right: 60px;
    padding-left: -40px;
}

.navbar-light .navbar-nav .nav-link:hover 
{
    
    outline: 2px solid red;
    color: 2px solid red;
    background-color: red;
    
}
.navbar-light  .navbar-brand {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.text-center{
    color: blue;
} 